<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>bus-and-go</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
  <script src="{{ url_for('static', filename='app.js') }}"></script>
  <div id="map">
    <div id="controls">
        <label for="datasets">Select Dataset:</label>
      <div class="dropdown" onchange="onChangeDataset()">
        <button>Datasets ▼</button>
        <div id="datasetSelector" class="dropdown-content">
          <!-- Dataset options with checkboxes will be populated dynamically -->
        </div>
    </div>
      <label for="routeSelector">Select Routes:</label>
      <div class="dropdown" onchange="updateVehiclePositions()">
        <button>Select Routes ▼</button>
        <div id="routeSelector" class="dropdown-content">
          <!-- Route options with checkboxes will be populated dynamically -->
        </div>
        
     
    </div>
  </div>
</body>
</html>
