<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <div id="map">
        <div id="controls">
            <label for="routeSelector">Select Routes:</label>
            <div class="dropdown" onchange="updateVehiclePositions()">
                <button>Select Routes ▼</button>
                <div id="routeSelector" class="dropdown-content">
                    <!-- Route options with checkboxes will be populated dynamically -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>
